body {
  background-color: rgb(240, 236, 206);
}
.inside {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(197, 217, 223);
  border: 3px solid #fff;
  text-align: center;
}
.inside > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.inside > div > div {
  width: 100%;
  font-size: 0.8rem;
}
.inside > div > div:first-child {
  font-size: 1.5rem;
  font-weight: 550;
}

#grid-container {
  width: 80%;
  height: auto;
  margin: 7vh auto;
}
.selecter {
  width: 200px;
  height: 30px;
  margin: 20px auto 5px auto;
  font-weight: 900;
}
option,
select {
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: antiquewhite;
  border: 1px solid brown;
  outline: none;
}

#page-nav {
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  margin: 20px 10vw;
}
.nav-btn {
  cursor: pointer;
  color: deepskyblue;
  font-size: 1.25rem;
  font-weight: 900;
  width: 50px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.current-page {
  color: rgb(255, 255, 255);
  background: #606d5f;
  /* text-shadow: 2px 2px 4px #49ff34; */
}
@media screen and (max-width: 1024px) {
  .nav-btn:hover {
    background: rgb(117, 190, 212);
    color: #fff;
  }
  .inside {
    width: 50px;
    height: 50px;
  }

  .inside > div > div:first-child {
    font-size: 1.2rem;
    font-weight: 550;
  }
}
