* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(202, 193, 193);
}

#container {
  width: 100vw;
  height: 100vh;
}

.selecter {
  width: 200px;
  height: 30px;
  margin: 20px auto 5px auto;

  font-weight: 900;
  display: flex;
}
option,
select {
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: antiquewhite;
  border: 1px solid brown;
  outline: none;
}
#input-field {
  display: none;
  text-align: center;
}

input {
  text-align: center;
  border: 0;
  margin: 5px 0px;
  width: 200px;
  height: 25px;
  font-weight: 900;
  font-size: large;
  background-color: antiquewhite;
  border: 1px solid brown;
  outline: none;
  border-radius: 5px;
  transition: ease-in-out, width 0.25s ease-in-out;
}

input[type="text"]:focus {
  border-color: deepskyblue;
  width: 250px;
}

#buttons {
  display: flex;
}

#checkBtn,
#change10W {
  width: 150px;
  height: 40px;
  border: 2px solid #2ecc71;
  color: #fff;
  background: rgb(66, 80, 80);
  border-radius: 10px;
  margin: 15px auto;
  outline: none;
  cursor: pointer;
}

#max-num {
  width: 120px;
  height: 30px;
  border: 2px solid #2ecc71;
  color: #fff;
  background: rgb(66, 80, 80);
  border-radius: 10px;
  margin: 5px auto;
  outline: none;
  cursor: pointer;
}
#checkBtn:hover,
#change10W:hover,
#max-num:hover {
  background-color: rgb(55, 121, 126);
}
.info {
  font-weight: 800;
  color: rgb(6, 111, 27);
  text-shadow: 1px 1px 3px rgb(164, 240, 187);
}
#error-message {
  color: red;
}
#checker-zone {
  display: none;
  width: 80vw;
  height: 70vh;
  background-color: #fff;
  margin: auto;
  text-align: center;
}

#checker-zone #kanji {
  font-size: 7rem;
}

#checker-zone #answer-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.answers {
  margin-top: 1.5rem;
  width: 40%;
  height: 10vh;
  background: #fecee9;

  border: 3px solid rgb(44, 68, 68);
  border-radius: 20px;
  padding-top: 20px;
  color: #011c27;
  /* color: rgb(182, 89, 89); */
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#score-container {
  margin-top: 50px;
}

.answers:hover {
  background-color: salmon;
}

/* ** Test Overviewing */
#end-test {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  display: none;
  margin: auto;
}

#end-score {
  font-size: 20pt;
  text-align: center;
  padding-top: 10%;
}

#wrong-answer-button {
  background-color: aqua;
  border: 2px solid rgb(66, 80, 80);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  cursor: pointer;
}

#wrong-answer-holder {
  width: 80%;
  height: 40%;
  margin: 20% auto;
  border: 2px solid rgb(87, 143, 136);
  overflow: scroll;
}

#row {
  display: flex;
}
#row div {
  font-size: 2rem;
  width: 50%;
  border-left: 2px solid rgb(87, 143, 136);
  border-bottom: 2px solid rgb(87, 143, 136);
  padding: 5px 0px 5px 15px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .answers:hover {
    /* add this because hover effect work weird on mobile */
    background-color: #fecee9;
  }
}
