@charset "utf-8";

#selecter {
  display: block;
  margin: auto;
  margin-top: 30px;
  outline: none;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 18pt;
  text-align: center;
  background: #06bee1;
  border: 2px solid #2541b2;
  color: #fff;
}

#word {
  margin: auto;
  margin-top: 20px;
  padding: 3px;
  text-align: center;
  width: 200px;
  height: 30px;
  border: 2px solid salmon;
  border-radius: 20px;
  display: none;
}

.container {
  display: none;
  width: 100%;
  height: 100%;
}

.flash-card {
  width: 60vh;
  height: 60vh;
  margin: 20px auto;
  /* transform: translate(-50%, -50%); */
  box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.686),
    0 6px 20px 0 rgba(31, 7, 7, 0.508);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 2px solid #7bcdba;
  transition: 0.7s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#holder {
  width: 100%;
}
.normal-p {
  font-size: 10rem;

  text-align: center;
}
.rotated-p {
  font-size: 5rem;
  transform: rotateX(180deg);
  text-align: center;
}

.nav {
  width: 100vw;
  margin: 60px 0px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.nav > button {
  width: 6rem;
  height: 3rem;
  border: none;
  background: #06bee1;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
  border: 2px solid #03256c;
  outline: none;
}

.nav #left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav #right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 600px) {
  .flash-card {
    width: 70vw;
    height: 40vh;
  }
  .rotated-p {
    font-size: 3rem;
  }
  .nav {
    position: inherit;
  }
}
