* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* width: 100vw; */
  overflow-x: hidden;
}

/* HEADER ***************/
header {
  width: 100vw;
  height: 7vh;
  background: #dfe2cf;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#home {
  /* padding: 15px 0px; */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 40%;
}

.header-nav {
  list-style: none;
  /* display: flex; */
  width: 60%;
  height: 92%;
  /* display: none; */
  position: absolute;
  top: 7vh;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 2;
}

li {
  text-align: center;
  padding: 15px 0px;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0;
  height: 20%;
}
a {
  text-decoration: none;
  color: black;
}

ul li a {
  border-bottom: 1px solid #ff7477;
}

#burger {
  cursor: pointer;
  padding: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#burger #line1,
#burger #line2,
#burger #line3 {
  margin: 5px;
  width: 25px;
  height: 3px;
  background: #ff7477;
  transition: all 0.3s;
}
.nav-activate {
  display: flex;
  transform: translateX(0%);
  background: #dfe2cf;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 92%;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 600px) {
  .header-nav {
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    transform: translateX(0%);
  }
  ul li a {
    border-bottom: none;
  }
  .header-nav li:hover {
    font-size: 1.5rem;
    transition: 0.25s;
  }
  .header-nav li {
    opacity: 1;
  }
  #burger {
    display: none;
  }
}
